.sidebar-logo {
  display: flex;
  padding-top: 3%;
  padding-left: 8%;
  border-bottom: 3px solid grey;
  border-right: 3px solid grey;
}

.sidebar-heading h2 {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: fantasy;
}
.sidebar-menus {
  /* background-color: blue; */
  /* text-align: center; */
  margin-left: 8%;
  margin-top: 5%;
}

.sidebar-menus li {
  padding: 5% 0 5% 0;
  align-items: center;
}

.side-menu {
  /* color: #fff; */
  /* padding: 10px; */
}
