#vision {
  margin-top: 80px;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.vision-text {
  margin: 10px 10px 20px 10px;
}

.vision-text .heading {
  color: #004e7e;
  /* text-align: left; */
  font-weight: 800 !important;

  font-size: 1.5rem;
}

.vision-text .heading2 {
  margin-top: 20px;
  /* width: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.vision-text .heading2 h2 {
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(247, 170, 28);
  padding: 2px 20px;
  box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
}

.vision-images {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 100px;
  gap: 20px;
  position: relative;
}

.type2,
.type3 {
  position: absolute;
  top: 50px;
}

.vision-type {
  position: relative;
}
.vision-images img {
  width: 250px;
  height: 300px;
  border: 6px solid grey;
  cursor: pointer;
  transition: all 0.3s ease;
}

.vision-images img:hover {
  border: 6px solid orange;
}

.vision-type h3 {
  top: 14px;
  position: absolute;
  width: 240px;
  left: 6px;
  color: #fff;
  font-weight: 800 !important;
  font-size: 25px;
}

.type-header {
  position: absolute;
  background: transparent;
  top: 220px;
  visibility: hidden;
  width: 240px;
  left: 5px;
  transition: all 0.3s ease;
}
.type-text p {
  text-align: center;
}
.type-text {
  width: 240px;
  margin-top: 10px;
  visibility: hidden;
}
.vision-images :hover ~ .type-header {
  visibility: visible;
  color: #fff;
  background: rgb(228 112 29 / 81%);
  transition: all 0.6s ease;
  height: 21%;
}
.vision-type :hover ~ .type-text {
  visibility: visible;
  transition: all 0.3s ease;

  /* display: contents; */
}

@media (min-width: 320px) and (max-width: 480px) {
  .vision-images {
    display: grid;
    margin: 10px 10px;
    gap: 20px;
  }
  .type-text {
    display: none;
  }
  .type2,
  .type3 {
    top: 0;
  }
  .vision-images :hover ~ .type-header {
    height: 25%;
  }
}
@media (min-width: 481px) and (max-width: 790px) {
  .vision-images {
    display: grid;

    /* justify-content: space-evenly; */
    margin: 10px 10px;
    gap: 20px;
  }
  .type-text {
    display: none;
  }
  .type2,
  .type3 {
    top: 0;
  }
  .vision-images :hover ~ .type-header {
    height: 25%;
  }
}

@media (min-width: 791px) and (max-width: 1152px) {
  .vision-images {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .vision-type h3 {
    left: 106px;
  }
  .type2,
  .type3 {
    top: 0;
  }
  .type-header {
    display: none;
  }
  .type-text {
    display: none;
  }
}
