/* -------------------Contribution.jsx--------------------------------- */

.highval-grid {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.highval-box .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highval-box .img img {
  text-align: center;
  padding: 20px;
  width: 100px;
  height: 100px;
}

.highval-box .box-line {
  padding: 5px 5px 30px 5px;
  font-weight: 700;
  color: #504e70;
  height: 80px;
}

.box-btn {
  padding: 10px;
  background: #fba704;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  transition: 0.3s all ease-out;
}

.box-btn:hover {
  background-color: orangered;
}
.section2-highval {
  margin: 5px 15px 5px 35px;
}

.section2-highval p {
  font-size: 18px;
  font-weight: 500;
  color: #504e70;
}

/* -------------------------------Pledge Your Support---------------------------- */
.pledge-text {
  margin: 10px 25px 15px 25px;
}
.pledge-text p {
  font-size: 18px;
  font-weight: 500;
  color: #504e70;
  text-align: center;
}

.support-btn {
  text-align: center;
}

.support-btn Link {
  padding: 20px;
}

.support-btn .btn {
  padding: 10px;
  background-color: #fba704;
  font-weight: 700;
  font-size: 25px;
  padding: 10px;
  color: #fff;
  transition: 0.3s all ease-out;
  cursor: pointer;
}

.support-btn .btn:hover {
  -webkit-box-shadow: 7px 14px 37px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 14px 37px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 14px 37px -1px rgba(0, 0, 0, 0.75);
  background-color: orangered;
  color: #fff;
}

.support-btn .btn span {
  margin-left: 10px;
}

/* --------------------Donation jsx......................... */

.donation-text {
  margin: 10px 25px 15px 25px;
  text-align: center;
}

.donation-text h5 {
  font-size: 35px;
  color: #e4701d;
  font-size: 800;
  margin-bottom: 3%;
}

.deed-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.deed-info .info {
  flex: 50%;
  justify-content: center;
  align-items: center;
  gap: 10%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #504e70;
  /* padding-top: 3%; */
}

.pie-chart {
  flex: 40%;
}

.pie-image {
  padding-left: 5%;
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* z-index: -99; */
}

.pie-image h5 {
  position: absolute;
  top: 53%;
  left: 14%;
  /* z-index: 1; */
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
}
.pie-image img {
  width: 9rem;
  height: 9rem;
  /* z-index: 1; */
}
.pie-desc span {
  font-size: 1.3rem;
  padding-left: 3%;
}

/* ----------------------------Fonding Story------------------------------ */
.swarajya-moments {
  display: flex;
  gap: 5%;
}

.swarajya-moments img {
  flex: 30%;
  border: 0.2rem solid orange;
}
.swarajya-moments .moments-info {
  flex: 60%;
}

.moments-info h5 {
  font-size: 1.3rem;
  padding: 5px;
}
.moments-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
  /* color: ; */
  /* margin-top: 4%; */
  padding: 5px;
  color: rgb(0, 78, 126);
}

.moments-info p {
  /* margin-top: 5%; */
  font-family: Poppins, sans-serif;
  color: #504e70;
  font-weight: 600;
  padding: 1%;
}

/* --------------------------------------Form----------------------------- */

.sendnotice {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.mail-div {
  margin-bottom: 15px;
}

.tomail {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.noticeMail {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.noticeMailRadio {
  width: 100%;
  height: 20vh;
  box-sizing: border-box;
  padding: 15px;
  /* margin-bottom: 25px; */
}

.sendNoticebtn {
  background-color: #f8b400;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .highval-imges {
    margin: 5px 10px 5px 10px;
  }
  .highval-grid {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
  .highval-box .box-line {
    height: 130px;
  }

  /* Contrribution */
  .pledge-text {
    margin: 80px 25px 15px 25px;
  }
  /* ----------Donation.JSx----------- */
  .deed-info {
    display: block;
  }

  .pie-image {
    display: block;
  }
  .pie-image h5 {
    position: absolute;
    top: 33%;
    left: 40%;
    /* z-index: 1; */
    color: #fff;
  }

  /* --------------------------Founding Story----------------------- */
  .swarajya-moments {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
  }

  .moment-btn {
    text-align: center;
  }
}
