.mission-banner {
  position: relative;
}

.front-view-container {
  width: 100%;
  position: absolute;
  bottom: -25px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.front-view-container .row {
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
}

.insider-header {
  padding-left: 15px;
  width: 100%;
  margin-left: 150px;
  margin-right: 150px;
}

.misson-header {
  background: url("../../../assets/texture-bg.jpg");
  height: 100px;
}

.mision-header-text {
  display: flex;
  padding: 25px;
}

.small-nav p {
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: rgb(22, 20, 20);
}

.mision-header-text h4 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #333;
}

.mission-desc-container {
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 150px;
}

.mission-desc-container .row {
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
}

.insider {
  padding-right: 25px;
  padding-left: 25px;
}

.mission-desc-text {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.col-main {
  width: 400px;
}

.heading {
  font-size: 30px;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-weight: 900 !important;
  font-size: 2.3rem;
  color: #004e7e;
  line-height: 1.2;
}

.heading-text {
  padding: 10px;
}
.heading-text p {
  text-align: center;
  font-family: "Merriweather", serif !important;
  font-size: 18px;
  font-weight: 600;
  /* line-height: 1.8; */
  color: #333;
}

.table-bg {
  width: 20%;
  transform: rotate(90deg);
  margin: -130px auto -145px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
}

.table-container {
  position: relative;
  height: 600px;
}

.actual-table {
  position: absolute;
  top: -6.5px;
  left: 15%;
  padding: 5px;
  width: 70%;
}
.table-inner {
  width: 100%;
  padding: 10px;
}
.t-head {
  background-color: #004e7e;
  height: 140px;
  color: #fff;
}

.left-th {
  width: 40%;
  padding-left: 10px;
  text-align: left;
  border-right: 1px solid white;
}

.right-th {
  text-align: center;
}

.right-th-table {
  width: 100%;
  margin-bottom: -32px;
  margin-left: 0;
  border-top: 1px solid white;
}

.right-th h6 {
  font-size: 20px;
}

.right-th-tr :last-child {
  border: none;
}

.right-th-tr-th {
  /* width: 25%; */
  padding: 30px 10px 20px 10px;
  border-right: 1px solid white;
  text-align: center;
}

.right-th table tbody {
  margin: 0;
}

.table-rows {
  width: 100%;
}

.table-rows-tr td {
  padding: 10px;
}

.table-rows-1 {
  background-color: #f0f0f0;
  border: 1px solid gainsboro;
  margin: 0%;
}
.table-rows-tr {
  border: 1px solid gainsboro;
  /* margin: 0; */
  height: 50px;
  padding-left: 10px !important;
}

.table-rows-right {
  width: 100%;
  margin: 0;
}
.table-rows-right-tr {
  /* background-color: #004e7e; */
  width: 100%;
  height: 50px;
}

.table-rows-right-tr td {
  border: 1px solid gainsboro;
}

.table-rows-right-tr .box1 {
  /* background-color: #333; */
  width: 7.4rem;
  border-left: 0;
}

.table-rows-right-tr .box2,
.box3 {
  width: 10.4rem;
}

.check-icon {
  text-align: center;
  color: red;
  background-color: #f0f0f0;
}

.border-0 {
  border: 0 !important;
}

/* ........................................Our Diffrence............................................... */

.swarajy-diff-container {
  position: relative;
  padding: 4rem 0;
  color: #fff;
}

.section-background-block {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swarajy-diff-container:before {
  position: absolute;
  z-index: 9;
  inset: 0;
  width: 100%;
  content: "";
  height: 100%;
  background-color: rgba(0, 78, 126, 0.8);
}
.diff-background-img {
  background-image: url("../../../assets/diff_background.jpg");
  width: 100%;
  height: 100;
  background-size: cover;
  background-position: 50% 0;
}

.diff-text-box {
  position: relative;
  z-index: 99;
}

.diff-text-box {
  display: flex;

  max-width: 1240px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.diff-text-row {
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;
}

.padding-20 {
  padding-top: 10px;
  /* padding-bottom: 30px; */
}

.diff-text-row h2 {
  font-weight: 700;
  font-size: 2.3rem;
  font-family: "Merriweather", serif !important;
}

.diff-text-row p {
  font-weight: 300;
  font-size: 1.2rem;
  /* font-family: "Fira Sans Condensed", sans-serif; */
}

/* ........................................Missio Program Information............................................... */

.mission-programs-container {
  position: relative;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  height: 100vh;
}

.miss-progr-inner {
  width: 100%;
}

.miss-progr-heading,
.miss-progr-level-heading {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
}

.miss-progr-heading {
  padding: 20px;
  margin-bottom: 10px;
  margin-bottom: 0.5rem;
}
.miss-progr-heading h2 {
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.75rem;
  color: #004e7e;
  font-family: "Fira Sans Condensed", sans-serif !important;
}

.miss-progr-level-heading p {
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-size: 1.5rem;
  color: #333;
}

.miss-progr-level-heading {
  margin-bottom: 20px;
}

.miss-progr-levels {
  display: flex;
  justify-content: center;
  /* gap: 10px; */
}

.program-levels {
  padding: 0 2rem;
  text-align: center;
}

.program-levels .program-icon {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 2px solid #e4701d;
  display: flex;
  margin-top: 2rem;
}

.img-info-miss-progr img {
  height: 200px;
}

.program-content h2 {
  font-weight: 800;
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-size: 1.7rem;
  color: #333;
}

.program-content p {
  font-weight: 400;
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-size: 1.3rem;
  color: #333;
}

/*.................................... mission-image-last-background...................................... */

.mission-image-last {
  position: relative;
  padding: 4rem 0;
  color: #fff;
  /* height: 100%; */
}
.mission-image-last-background {
  background-image: url("../../../assets/mission-program-image-last.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.mission-image-last-content {
  position: relative;
  z-index: 99;
}

.mission-image-last:before {
  position: absolute;
  z-index: 9;
  inset: 0;
  width: 50%;
  content: "";

  height: 100%;

  background-color: rgba(228, 112, 29, 0.9);
}

.mission-image-last-content {
  position: relative;
  z-index: 99;
}

.row-last-img {
  max-width: 1240px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-last-img {
  flex: 0 0 50%;
  max-width: 50%;
}

.content-last-img p {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: "Merriweather", serif !important;
}
.content-last-img ul {
  padding: 5px 10px;
}

.content-last-img ul li {
  font-size: 1.3rem;
  font-family: "Merriweather", serif !important;
  padding-bottom: 5px;
}
