.mission-banner {
  position: relative;
}

.front-view-container {
  width: 100%;
  position: absolute;
  bottom: -25px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.front-view-container .row {
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
}

.insider-header {
  padding-left: 15px;
  width: 100%;
  margin-left: 150px;
  margin-right: 150px;
}

.misson-header {
  background: url("../../../assets/texture-bg.jpg");
  height: 100px;
}

.mision-header-text {
  display: flex;
  padding: 25px;
}

.small-nav p {
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: rgb(22, 20, 20);
}

.mision-header-text h4 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #333;
}

.mission-desc-container {
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 150px;
}

.mission-desc-container .row {
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
}

.insider {
  padding-right: 25px;
  padding-left: 25px;
}

.mission-desc-text {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.col-main {
  width: 400px;
}

.heading {
  font-size: 30px;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-weight: 900 !important;
  font-size: 2.3rem;
  color: #004e7e;
  line-height: 1.2;
}

.heading-text {
  padding: 10px;
}
.heading-text p {
  text-align: center;
  font-family: "Merriweather", serif !important;
  font-size: 18px;
  font-weight: 600;
  /* line-height: 1.8; */
  color: #333;
}

.table-bg {
  width: 20%;
  transform: rotate(90deg);
  margin: -130px auto -214px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
