.work-info {
  display: flex;
  flex-wrap: wrap;
}

.work-info-heading {
  /* width: 50%; */
  flex: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.work-info-heading h4 {
  font-family: auto;
  margin: 15px auto 15px auto;
  font-weight: 800;
  font-size: 40px;
  transition: filter 0.3s ease;
  color: rgb(0, 78, 126);
  text-align: start;
  padding: 10px;
}

.work-info-text {
  padding: 15px;
  flex: 50%;
}

.work-info-text p {
  font-family: Poppins, sans-serif;
  color: #333 !important;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
}

/* ------------------section2--------------------- */

.work-section2 {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.work-section2 .part-1 {
  flex: 40%;
}

.work-section2 .part-2 {
  flex: 40%;
}

.touching-lives h2 {
  text-align: center;
  margin: 25px auto 25px auto;
  font-weight: 700;

  line-height: 50px;

  font-size: 50px;
  transition: filter 0.3s ease;
  color: rgb(0, 78, 126);
  text-align: center;
}

.block {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  background-color: #e4701d;
  color: #fff;
}

.block h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.block p {
  font-size: 18px;
}

.block-goal {
  margin: 20px 40px 0 40px;
  text-align: center;
  font-size: 18px;
}

.work-poster img {
  padding: 0 60px;
}

.blogs {
  margin: 0 15px;
  display: grid;
  gap: 30px;
}

.blogs .blog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blog-image {
  flex: 45%;
}

.blog-desc {
  flex: 50%;
  padding: 0 15px;
}

.blog-desc .blog-type {
  font-size: 20px;
  font-family: auto;
}

.blog-desc .blog-header {
  font-weight: 700;

  line-height: 40px;
  font-size: 30px;
  font-family: auto;
  color: rgb(0, 78, 126);
  margin-bottom: 10px;
}

.blog-story p {
  /* margin: 15px auto 15px auto; */
  font-family: Poppins, sans-serif;
  color: #504e70;
  font-weight: 500;

  line-height: 30px;
  font-size: 18px;
}
