/* svg {
  width: 300px;
  height: 300px;

  transform: rotate(-90deg);
  overflow: initial;
}

circle {
  stroke-width: 20px;
  fill: none;
}
circle:nth-child(1) {
  stroke: #fff;
}
circle:nth-child(2) {
  stroke: #f00;
  position: relative;
  z-index: 1;
}

.circle_box:nth-child(1) circle:nth-child(2) {
  stroke-dashoffset: calc(100 * 6);
  stroke-dasharray: calc(100 * 5);
  stroke-dashoffset: calc((100 * -8) - ((100 * -8) * 50) / 100);
  stroke: orange;
}
.circle_box {
  font-size: 36px;
  color: #fff;
  text-align: center;
}
.circle_box div {
  position: relative;
}
.circle_box span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
}

.circle_box span img {
  width: 262px;
  height: 262px;
  border: 8px solid rgb(208, 208, 208);
  border-radius: 50%;
}

.circle_box:hover circle {
  stroke: orange;
} */
