#Forgot {
  background-color: rgb(222, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Reset {
  background-color: rgb(222, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.forgot-password-inner {
  background-color: #fff;
  /* height: 40%;
  width: 30%; */
  -webkit-box-shadow: -2px 9px 29px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 9px 29px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 9px 29px -3px rgba(0, 0, 0, 0.75);
  outline: 2px solid grey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-insider {
  height: 100%;
  padding: 20px 50px 20px 50px;
}
.forgot-password-inner div {
  margin-top: 20px;
}

.forgot-password-inner div input {
  display: inline;
  width: 100%;
  height: 2rem;
  outline: 2px solid grey;
  border-radius: 5px;
  border: none;
}
.c-password {
}

.wrong-password {
  outline: 2px solid rgb(205, 39, 39) !important;
}
.forgot-password-inner div button {
  display: inline;
  width: 100%;
  height: 2rem;
  outline: 2px solid grey;
  background-color: #fba704;
  border-radius: 5px;
  border: none;
}

.forgot-password-inner div button s {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(36, 36, 36);
}
.forgot-password-inner div span {
  font-weight: 600;
  font-size: 0.8rem;
}
.forgot-insider h4 {
  color: #004e7e;
  /* text-align: left; */
  font-weight: 800;
  font-size: 1.5rem;
}

.forgot-insider p {
  font-weight: 500;
  font-size: 0.8rem;
}

.page-heading {
  text-align: center;
}
/* .password-outer h4 {

} */
@media (min-width: 320px) and (max-width: 480px) {
  .forgot-password-inner {
    margin: 2rem;
  }
}
