#aboutus {
  /* margin-top: 50px; */
}

.contenr-1200 {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* s------------------------ection2-------------------------------- */
.about-us-container {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-family: "Nunito Sans", sans-serif !important;
}

.about-us-info {
  margin: 5px 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.about-us-content {
  margin: 5px 15px;
}
.about-us-info h2 {
  font-weight: 800;
  font-family: "Quicksand", sans-serif !important;
  line-height: 50px;
  margin-bottom: 30px;
  font-size: 50px;
  color: rgb(0, 78, 126);
}
/*         */
.about-us-info p {
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: Poppins, sans-serif;
  color: #504e70;
  font-weight: 500;
  line-height: 27px;
  font-size: 18px;
  letter-spacing: 1px;
}

/* -----------------------------Section3---------------------------------- */
.about-us-with-image {
  position: relative;
  padding: 4rem 0;
  color: #fff;
}

.about-us-with-image:before {
  position: absolute;
  z-index: 9;
  inset: 0;
  width: 100%;
  content: "";
  height: 100%;
  background-color: rgba(0, 78, 126, 0.5);
}

.about-us-with-image .bg-image {
  background-image: url("../../../assets/middle-banner-about.jpg");
  width: 100%;
  height: 100;
  background-size: cover;
  background-position: 50% 0;
}

/* ==============section 4==================== */

.about-us-values {
  position: relative;
  height: 120vh;
}
.div-mid-header {
  text-align: center;
  position: absolute;
  left: 42%;
  top: 45%;
}
.div-mid-header h2 {
  color: #fff;

  font-weight: 900;
  font-family: "Quicksand", sans-serif !important;
  line-height: 50px;

  font-size: 30px;
}
.width25 {
  width: 30% !important;
  z-index: 1;
}
.div-mid-header-mob {
  display: none;
}

.core-val-about {
  position: absolute;
  top: 55%;
  margin-left: auto;
  margin-right: auto;
}

.values-row {
  display: flex;
  gap: 10px;
  margin: 0 50px 0 50px;
}

.values-row .values {
  text-align: center;
  flex: 1;
}

.values .image {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  padding: 15px;
  margin: 0 auto 1rem;
  background-color: #f0eceb;
  border: 2px solid transparent;
  display: flex;
}

.values .image:hover {
  background-color: rgb(6, 88, 140);
}

.values .image:hover .vals-img {
  filter: brightness(0) invert(1);
}

.values .image:hover ~ h2 {
  color: orangered;
}
.values .image img {
  object-fit: fill;
  max-width: 100%;
  height: auto;
}

.vals-img {
  transition: filter 0.3s ease;
}

.values h2 {
  margin: 15px auto 15px auto;
  font-weight: 800;

  font-family: "Quicksand", sans-serif !important;
  line-height: 50px;
  margin-bottom: 30px;
  /* font-size: 50px; */
  transition: filter 0.3s ease;
  color: rgb(0, 78, 126);
}
.values p {
  margin: 15px auto 15px auto;
  font-family: Poppins, sans-serif;
  color: #504e70;
  font-weight: 500;
}

.core-val-about .row {
  margin-right: 60px;
  margin-left: 60px;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 480px) {
  .about-us-container {
    display: inline-block;
  }
  .about-us-info {
    max-width: 100%;
  }
  .div-mid-header {
    display: none;
  }
  .div-mid-header-mob {
    display: contents;
    text-align: center;
  }

  .div-mid-header-mob h2 {
    font-weight: 800;
    font-family: "Quicksand", sans-serif !important;
    line-height: 50px;
    margin-bottom: 30px;
    font-size: 40px;
    color: rgb(0, 78, 126);
  }

  .about-us-values {
    height: auto;
  }
  .core-val-about {
    position: relative;
  }
  .values-row {
    display: inline;
  }
}

@media (min-width: 481px) and (max-width: 790px) {
}
