.home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  width: 100%;
}

.banner1 .banner2,
.banner3 {
  height: 100vh;
  /* height: 100%; */
  width: 100%;
  position: absolute;
  /* top: 80px; */
  top: 0;
  left: 0;
}

.banner1,
.banner2,
.banner3 img {
  width: 100%;
  /* content: ; */
  background-size: cover;
  object-fit: cover;
  position: absolute;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  animation: zoom-out 3s linear infinite;
}

@keyframes zoom-out {
  100% {
    width: 100%;
  }
}

.banner-text {
  width: 600px;
  position: absolute;
  top: 350px;
  left: 100px;
  color: #fff;
  animation: text-up 12s linear infinite;
  transform: translateY(100px);
}
@keyframes text-up {
  10% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.banner-text h1 {
  margin-bottom: 10px;
}

.banner-btn {
  position: absolute;
  background-color: #f4b124;
  top: 500px;
  left: 100px;
  transition: 0.2s ease-in-out;
  /* border: 2px solid #f4b124; */
  border-radius: 17px;
  cursor: pointer;
  animation: text-up 12s linear infinite;
  transform: translateY(100px);
}
.banner-btn .btn-donateUs {
  display: block;
  font-size: 20px;
  padding: 11px 42px 13px 13px;
  position: relative;
}

.banner-btn .btn-donateUs .text {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.icon {
  margin: 9px 0px 0 0px;
  position: absolute;
  top: 3px;
}
.banner-btn .btn-donateUs p {
  color: #fff;
}
.icon-heart {
  color: #fff;
  margin-left: 6px;
  font-size: 25px;
}

.banner-btn :hover > .icon-heart {
  color: rgba(8, 194, 8, 0.83);
}

.banner-btn :hover {
  /* color: rgb(255, 0, 200); */
  background-color: crimson;
  border-radius: 17px;
}
.banner1 {
  animation: slide1 12s linear infinite;
}
.banner2 {
  animation: slide2 12s linear infinite;
}

.banner3 {
  animation: slide3 12s linear infinite;
}

@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.text1 {
  animation-delay: 0s;
}

.text2 {
  animation-delay: 3s;
}
.text3 {
  animation-delay: 9s;
}
@media (min-width: 320px) and (max-width: 480px) {
  .banner-text {
    width: auto;
    position: absolute;
    top: 389px;
    left: 16px;
    color: #fff;
    font-size: 10px;
  }
  .banner1,
  .banner2,
  .banner3 {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .banner-btn {
    position: absolute;
    background-color: #f4b124;
    top: 484px;
    left: 19px;
    transition: 0.2s ease-in-out;
    /* border: 2px solid #f4b124; */
    border-radius: 17px;
    cursor: pointer;
  }
}

@media (min-width: 481px) and (max-width: 790px) {
  .banner-text {
    width: auto;
    position: absolute;
    top: 389px;
    left: 16px;
    color: #fff;
    font-size: 10px;
  }
  .banner1,
  .banner2,
  .banner3 {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .banner-btn {
    position: absolute;
    background-color: #f4b124;
    top: 484px;
    left: 19px;
    transition: 0.2s ease-in-out;
    /* border: 2px solid #f4b124; */
    border-radius: 17px;
    cursor: pointer;
  }
}
